header {
  text-align: center;
}

.dashboard {
  text-align: center;
  margin: 10px;
}

#calendar {
  display: inline-block;
  position: relative;
  min-height: 200px;;
  width: 300px;
  background-color: #d2f5ea;
  border-radius: 6px;
  margin: 10px;
}

#boat_projects {
  display: inline-block;
  position: relative;
  min-height: 200px;
  width: 300px;
  background-color: rgba(183, 234, 202, 0.92);
  border-radius: 6px;
  margin: 10px;
}

.form {
  width: 300px;
}

fieldset {
  width: 300px;
  text-align: center;
  position: relative;
}

textarea {
  width: 200px;
  min-height: 25px;
}


footer{
  text-align: center;
}
